*{
    margin: 0;
    padding: 0;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
#wrap header{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #008000;
}
#wrap header > a{
    margin: 30px 0 0 30px;
}
#wrap header > a img{}
#wrap header nav{
    width: 1000px;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
#wrap .depth-01{
    display: flex;
    justify-content: space-between;
}
#wrap .depth-01 > li{
    position: relative;
}
#wrap .depth-01 > li > a{
    font-weight: bold;
    display: block;
    color: #000;
    line-height: 100px;
    padding: 0 30px;
}
#wrap .depth-02{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    overflow: hidden;
    height: 0;
    text-align: center;
    z-index: 99;
}
#wrap .depth-02 li{}
#wrap .depth-02 li a{
    display: block;
    color: #000;
    line-height: 50px;
    background-color: #ccc;
}
#wrap .depth-01:hover .depth-02{
    height: 150px;
}
#wrap .depth-01 > li:hover > a,
#wrap .depth-02 li:hover a{
    background-color: #333;
    color: #fff;
}

#wrap section{
    width: 1200px;
    height: 300px;
}
#wrap section ul{}
#wrap section ul li{
    position: relative;
}
#wrap section ul li img{}
#wrap section ul li a{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 40%;
    background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    z-index: 1;
}

#wrap article{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
#c-1{
    width: 380px;
}
#tab{}
#tab > li{}
#tab > li input{
    display: none;
}
#tab > li label{
    display: block;
    width: 100px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
#tab .ab-box{
    background-color: #fff;
    border: solid 1px #008;
    box-sizing: border-box;
    height: 160px;
}
#tab .ab-box .notice-content{}
#tab .ab-box .notice-content li:hover a{
    background-color: #ccc;
}
#tab .ab-box .notice-content li a{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    color: #000;
}
#c-2{
    width: 380px;
    
}
#tab .ab-box .gallery-content{
    display: flex;
    justify-content: space-around;
    height: 160px;
}
#tab .ab-box .gallery-content li a{
    
}
#tab .ab-box .gallery-content li a img{
    width: 100%;
    margin-top: 35px;
}
#c-3{
    width: 400px;
    position: relative;
}
#c-3 img{}
#c-3 a{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 40%;
    background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    line-height: 40px;
    color: #000;
    font-weight: bold;
}

#wrap footer{
    width: 1200px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}

#footer-logo{
    margin: 30px 0 0 30px;
}

#Copyright{
    margin-top: 35px;
}
#family{
    position: relative;
    text-align: center;
}
#family button{
    width: 200px;
    background-color: #ccc;
    border: 0;
    margin-top: 35px;
}
#family ul{
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.6s ease-in-out;
}
#family ul li a{
    display: block;
    line-height: 50px;
    color: #000;
    background-color: #ccc;
    border-bottom: solid 1px #000;
}
.slide{
    height: 150px !important;
}

#popup-box{
    position: fixed;
    width: 400px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    background-color: #fff;
    border: solid 1px #000;
    
}
#popup-box strong{
    display: block;
    text-align: center;
    margin-top: 20px;
}
#popup-box p{
    margin: 20px 20px 0;
}
#popup-box span{
    display: block;
    margin: 20px 20px 0 0;
    text-align: right;
    cursor: pointer;
}
.show{
    display: none;
}