*{
    margin: 0;
    padding: 0;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
#wrap header{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #008000;
}
#wrap header > a{
    margin: 30px 0 0 30px;
}
#wrap header > a img{}
#wrap header nav{
    width: 1000px;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
#wrap .depth-01{
    display: flex;
    justify-content: space-between;
}
#wrap .depth-01 > li{
    position: relative;
}
#wrap .depth-01 > li > a{
    font-weight: bold;
    display: block;
    color: #000;
    line-height: 100px;
    padding: 0 30px;
}
#wrap .depth-02{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    overflow: hidden;
    height: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.6s ease-in-out;
}
#wrap .depth-02 li{}
#wrap .depth-02 li a{
    display: block;
    color: #000;
    line-height: 50px;
    background-color: #ccc;
}
#wrap .depth-01:hover .depth-02{
    height: 150px;
}
#wrap .depth-01 > li:hover > a,
#wrap .depth-02 li:hover a{
    background-color: #333;
    color: #fff;
}

#main-banner{
    width: 1200px;
    height: 300px;
    position: relative;
}
#main-banner a span{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 40%;
    background-color: rgb(0, 255, 0, 0.5);
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 3;
}

#content{}
#container{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
#container h4 a{
    display: block;
    width: 20%;
    text-align: center;
    background-color: #333;
    color: #fff;
    line-height: 40px;
}
.c-1{
    width: 33.33%;
    
}
.c-1 h4{}
.c-1 h4 a{

}
.c-1 dl{
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    background-color: #fff;
    border: solid 1px #ccc;
    /* border-bottom: 0;
    border-top: 0; */
    box-sizing: border-box;
}
.c-1 dl dt{}
.c-1 dl:nth-child(even){
    background-color: #ccc;
}
.c-1 dl dt a{
    margin-left: 20px;
    color: #000;
}
.c-1 dl dd{
    margin-right: 20px;
}
.c-1 dl:hover{
    background-color: #008000;
}

.c-2{
    width: 33.33%;
}
.c-2 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.c-2 ul li{}
.c-2 ul li a{}
.c-2 ul li a img{
    
}

.c-3{
    width: 33.33%;
    position: relative;
}
.c-3 a{}
.c-3 a img{
    
}
.c-3 a span{
    position: absolute;
    width: 40%;
    top: 40%;
    left: 30%;
    background-color: rgb(0, 255, 0, 0.5);
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 3;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100px;
    background-color: #333;
}
.footer-logo{
    margin: 30px 0 0 30px;
}
.Copyright{
    color: #ccc;
    line-height: 100px;
}
.footer-sns{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer-sns img{
    border-radius: 50%;
}

#popup-box{
    position: fixed;
    width: 400px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    background-color: #fff;
    border: solid 1px #000;
    display: none;
}
#popup-box strong{
    display: block;
    text-align: center;
    margin-top: 20px;
}
#popup-box p{
    margin: 20px 20px 0;
}
#popup-box span{
    display: block;
    margin: 20px 20px 0 0;
    text-align: right;
    cursor: pointer;
}
.show{
    display: block !important;
}